@page "/token"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication
@inject IHttpContextAccessor HttpContextAccessor
@attribute [Authorize]

<h3>Your Access Token</h3>

@if (accessToken != null)
{
    <textarea rows="10" cols="80">@accessToken</textarea>
}
else
{
    <p>Loading...</p>
}

@code {
    private string? accessToken;

    protected override async Task OnInitializedAsync()
    {
        var authResult = await HttpContextAccessor.HttpContext.AuthenticateAsync();
        accessToken = authResult.Properties?.GetTokenValue("access_token");
    }
}


